@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

body {
    margin: 0px;
    padding: 0px;
}

#navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    height: 50px;
    background-color: #F5F5F6;
}

#logo {
    margin: 15px 0px 12px;
}

#logo:hover{
   cursor: pointer;
}

#flex1 {
    display: flex;
}

.flexItem {
    width: 20%;
    margin-right: 5%;
    margin-top: 17px;
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    color: #959BA4;
    letter-spacing: 0.06em;
}

.flexItem:hover{
    text-decoration:underline ;
    color: yellowgreen; 
}

#navlast {
    width: 58px;
    height: 33px;
    padding-left: 12px;
    margin-top: 9px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    background-color: white;
    color: #000000;
}
#navlast:hover{
    background-color: yellowgreen;
    cursor: pointer;
}

h1 {
    width: 587px;
    height: 32px;
    margin-left: 35%;
    margin-top: 56px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

#flex2 {
    display: flex;
    margin-left: 35%;
    margin-top: 33px;
}

p {
    width: 52%;
    height: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #9F9F9F;
    margin-bottom: 7px;
}

.menu1,
.menu2 {
    display: flex;
    box-sizing: border-box;
    border-radius: 3px;
    width: 62%;
    height: 25%;
}

.menuItem {
    width: 30%;
    height: auto;
    padding: 0px 20px 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    border: 1px solid #E5E5E5;
    color: #C6C6C6;
}

.menuItem:hover {
    background-color: #833AE0;
}

.mainBox2,
.mainBox1 {
    padding: 10px 0px 0px 10px;
    width: 62%;
    min-height: 100%;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 3px;
    margin-top: 20px;
}

input:focus {
    outline: none;
}

#firstInput {
    width: 90%;
    border: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

#secondInput {
    width: 90%;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

.info1,
.info2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #C6C6C6;
}